<mat-toolbar color="primary">
    <span>Guess the Pokemon!</span>
</mat-toolbar>

<div class="home-container">
    <mat-card class="home-card">
        <mat-card-title>Welcome to Who’s That Pokemon?</mat-card-title>
        <mat-card-content>
            <p>Given the silhouettes, you need to guess the pokemon name</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent" routerLink="/guess">Start Game</button>
        </mat-card-actions>
    </mat-card>
</div>
